#_about_me
  .jumbotron
    %h1 About me.
    %pGraduated from IHM Business School in Stockholm spring of 2012,
    %pwith a major in b2b sales and marketing. Moved to Florida to implement a business
    %pplan that was strategy written by me for a local based Stockholm-company,
    %pthat wanted to enter the American market without know-how.
    Negotiated on behalf of the Company a deal where other CEO's failed; with Department of Environmental Protection, Municipality Council of West Palm Beach,
    U.S Army Corps of Engineer's (USACE), and many other local organizations (Both GO and NGO).
    Also Established a relationship between American FDEP - Division of Water Resource Management
    and Swedish Agency for Marin and Water Management.
    Worked as CEO for 5 years with great success and sold it.
    Enrolled to Craft Academy for their Spring Bootcamp of 2017.
