%ul.nav.nav-tabs
  %h1.col-lg-offset-3
  .col-md-3
  %li.active{:role => "presentation"}
    %a{:href => "#about_me"} Home
  %li{:role => "presentation"}
    %a{:href => "#portfolio"} Portfolio
  %li{:role => "presentation"}
    %a{:href => "#about_me"} Contact me
