#presentation
  .container
    .jumbotron
      %h1.col-lg-offset-3 Junior-programmer,
      .row
        .col-md-3
          %img.img-responsive(src="/images/ps.png")
        .col-md-9
          %h2 With business management background. <br>
          %p
            My name is Max Mollerstrom and I am a student of the Craft Academy program,
            where I specialized in the creation of online content spanning over all platforms. <br>
            Throughout my professional career, I have worked with international Business Management, <br> tactical & strategic marketing, b2b sales
            and b2g negotiation and relationships.
          %p
            %a.btn.btn-primary.btn-large{:href => "#about_me"} Learn More
